.text-primary {
  color: #092c4c !important;
}
.text-secondary {
  color: #f2994a !important;
}
.text-body {
  color: #222 !important;
}
.text-gray1 {
  color: #666 !important;
}
.text-gray2 {
  color: #8d8d8d !important;
}
.text-gray3 {
  color: #f6f6f7 !important;
}

main {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 5px;
}

.container {
  padding: 10px 10%;
}

table {
  text-align: left;
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 2px solid #82c0e4;
}

thead {
  height: 30px;
  background-color: #badbee;
}

th {
  padding-left: 5px;
}

tr {
  height: 50px;
}

td {
  padding-left: 5px;
}

header {
  display: grid;
  padding: 10px;
  grid-template-columns: 100px auto;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 80px);
}

.article-header {
  display: flex;
  justify-content: space-between;
  border: 1px dashed slategray;
}

.col-hr {
  border: 1px dashed slategray;
  width: 0.1px;
}

.best {
  width: 45%;
  padding: 10px;
}

.best-row {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 30px;
}

.input-div {
  display: grid;
  grid-template-columns: 50px auto;
}
/* 
input:focus {
  outline: none !important;
  border: 0px solid rgba(0, 0, 0, 0);
} */

.input-init {
  border: 1px solid black;
}
.input-pass {
  border: 1px solid forestgreen;
}
.input-error {
  border: 1px solid red;
}

.input-error-msg {
  font-size: 5px;
  color: red;
}
